<div class="content">
    <div class="box" ng-init="rebateData()">
        <ol class="breadcrumb">
          <!-- <li><a href="#">首页</a></li> -->
          <li><a href="#/orders">返佣统计管理</a></li>
          <li class="active">返佣列表</li>
        </ol>
        </form>
        <table class="table table-bordered  table-hover">
            <thead>
                <tr>
                    <th>订单编号</th>   
                    <th>取钞日期</th> 
                    <th>手机号码</th> 
                    <th>返佣金额</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat = 'item in list'>
                    <td>{{item.id}}</td>
                    <td>{{item.takeDate}}</td>
                    <td>{{item.c_phone}}</td>
                    <td>{{item.rebate | formatMoney}}元</td>
                </tr> 
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li class="prev" ng-click="pageMove(0)" ng-class="{disabled: (page == 1)}"><a  aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li  ng-class="{active: (n == page)}" ng-repeat="n in [] | range: pageCount " ng-click="getPage(n)"><a >{{n}}</a></li>
                <li class="next" ng-click="pageMove(1)"  ng-class="{disabled: (page == pageCount)}"><a  aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav>
    </div>
</div>